.main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: var(--gap);
}

.page-header h1 {
    font-size: 40px;
}

.pagination {
    display: flex;
}

.pagination a {
    color: var(--theme);
    font-size: 13px;
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(36px / 2);
    padding: 0 16px;
}

/* DiewahreKeule - Button prev and next color override START */
.pagination .next {
    margin-inline-start: auto;
    background: #C22E30;
    color: white;
}

.pagination .prev {
    background: #C22E30;
    color: white;
}

/* DiewahreKeule - Button prev and next color override END */

.social-icons a {
    display: inline-flex;
    padding: 10px;
}

.social-icons a svg {
    height: 26px;
    width: 26px;
    /* DiewahreKeule - 31.10.2024 - Hover Effekt */
    transition: transform 0.3s ease;
    /* Weicher Übergang */
}

/* DiewahreKeule - 31.10.2024 - Hover effect START */
.social-icons a svg:hover {
    color: #C22E30;
    transform: scale(1.4);
    /* scale Object */
}

/* DiewahreKeule - 31.10.2024 - Hover effect END */

code {
    direction: ltr;
}

div.highlight,
pre {
    position: relative;
}

.copy-code {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(78, 78, 78, 0.8);
    border-radius: var(--radius);
    padding: 0 5px;
    font-size: 14px;
    user-select: none;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
}

/* Custom CSS Start */
.badge {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    /*background-color: #53A4E0;*/
    background-color: #C22E30;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #333;
    /* font-family: sans-serif; */
    font-size: 0.7rem;
    /* 0.9rem */
    float: right;
}

.badge-icon {
    font-size: 1.2rem;
    margin-right: 0.5rem;
    color: #007bff;
    /* color: #C22E30; */
}

.badge-label {
    font-weight: bold;
    color: white;
}

.project-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0px !important;    
}

.project-header {
    /* display: block; */
    margin-top: 0px;
    flex: 1;
}

.project-header-text {
    margin: 0px !important;
}

.project-content-box {
    margin-bottom: 0px !important;    
    flex-direction: row;
    display: flex;
    width: 100%;
}

.project-img {
    /* height: 50% !important;
    width: 70% !important; */
    max-width: 300px;
    /* height: auto; */
    display: flex;    
}

.project-content {    
    /* flex-direction: row !important; */
    /* display: flex !important; */
    flex: 1 !important;
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}

/* Custom End */